@model Warehouse.DB.Entities.Category

@{
    ViewData["Title"] = "Details";
}

@if (@TempData["ErrorMsg"] != null)
{
    <div class="alert alert-warning text-center fw-bold">
        @TempData["ErrorMsg"]
    </div>
}
else
{
    <div>
        <dl class="row">
            <dt class="col-sm-3">
                Category ID
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CategoryID)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">
             Category Name
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
        </dl>
    </div>

    <div class="modal-footer">
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.CategoryID">Edit</a>

        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
    </div>
}
